menu "SUNXI PWM Devices"
config DRIVERS_SUNXI_PWM
    bool "enable pwm-ng driver"
    depends on ARCH_SUN55IW3 || ARCH_SUN55IW6 || ARCH_SUN300IW1
        default n

config HAL_TEST_SUNXI_PWM
    bool "enable pwm-ng hal APIs test command"
    depends on DRIVERS_SUNXI_PWM
        default n

endmenu
