source "components/common/aw/ringbuffer/Kconfig"
source "components/common/aw/amp_app/Kconfig"
source "components/common/aw/rpbuf/Kconfig"
source "components/common/aw/pm/Kconfig"
source "components/common/aw/virt_log/Kconfig"
source "components/common/aw/multi_console/Kconfig"
source "components/common/aw/sys_config_script/Kconfig"
source "components/common/aw/console/Kconfig"
source "components/common/aw/network/Kconfig"
source "components/common/aw/ostest/Kconfig"
source "components/common/aw/trace_event/Kconfig"
source "components/common/aw/flash_read/Kconfig"
source "components/common/aw/rpbuff_uart/Kconfig"
source "components/common/aw/iobox/Kconfig"
source "components/common/aw/sunxi-rpc/Kconfig"
source "components/common/aw/rpcfs/Kconfig"
