menuconfig UART_USED
	bool "uart used"

if UART_USED
config UART_BAUD
	int "uart baudrate"
	default 115200

config UART_PARITY
	int "uart parity"
	default 0
	range 0 3
	help
	  0,2 no parity
	  1 odd parity
	  3 even parity

config UART_STOP
	int "uart stop bit"
	default 0
	range 0 1
	help
	  0 - 1bit, 1 - 2(or1.5)bits

config UART_DATELEN
	int "uart datalen"
	default 3
	range 0 3
	help
	  0 - 5bits, 1 - 6bits, 2 - 7bits, 3 - 8bits
endif
